
<h1>The Game Site</h1>

<h3>Our Top Games</h3>
<div id="gamesList" *ngIf="!selected">
  <table class="table table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th>Game Title</th>
        <th>Genre</th>
        <th>Rating</th>
        <th>Price</th>
        <th>Console</th>
        <th>Multiplayer</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let game of game">
        <td (click)="displayGame(game)">{{ game.name }}</td>
        <td>{{ game.genre }}</td>
        <td>{{ game.rating }}</td>
        <td>{{ game.price }}</td>
        <td>{{ game.console }}</td>
        <td>{{ game.multiplayer }}</td>
        <td> <button class="btn btn-danger" (click)="deleteGame(game.id)">X</button> </td>
      </tr>
      <tr>Total Cost of all Video Games: ${{getTotalPrice() | number: "1.2"}}</tr>
    </tbody>
  </table>
  <form name="newGame"  class="row g-2">
    <!-- *ngIf="newGame" -->
    <input class="col form-control" type="text" name="name" [(ngModel)]="newGame.name" placeholder="Game Ttile" /><br>
    <input class="col form-control" type="text" name="genre" [(ngModel)]="newGame.genre" placeholder="Genre"/><br>
    <input class="col form-control" type="text" name="rating" [(ngModel)]="newGame.rating" placeholder="Rating"/><br>
    <input class="col form-control" type="text" name="price" [(ngModel)]="newGame.price" placeholder="Price"/><br>
    <input class="col form-control" type="text" name="console" [(ngModel)]="newGame.console" placeholder="Console" /><br>
    <input class="col form-control" type="text" name="multiplayer" [(ngModel)]="newGame.multiplayer" placeholder="Multiplayer Y/N" /><br>
    <button class="col btn btn-primary" (click)="addGame(newGame)">Add a new Video Game</button>
  </form>
</div>

<div id="gameEdit" *ngIf="selected && ! editGame">
  <h3>{{ selected.name }}</h3>
  <p>{{ selected.genre}}</p>
  <p>{{ selected.rating}}</p>
  <p>{{ selected.price}}</p>
  <p>{{ selected.console}}</p>
  <p>{{ selected.multiplayer}}</p>

  <p>{{ selected.name ? 'Complete'  : 'Incomplete'}}</p>
  <button class="btn btn-outline-danger" (click)="displayTable()">Back</button>
  <button class="btn btn-outline-primary" (click)="setEditGame(selected)">Edit</button>
</div>

<div id="gameEdit" *ngIf="editGame">
  <form class="form">
    <label class="form-label" for="name">Name</label>
    <input class="form-control" type="text" name="name" [(ngModel)]="editGame.name" /> <br />
    <label class="form-label" for="genre">Genre</label>
    <input class="form-control" type="text" name="genre" [(ngModel)]="editGame.genre" />
    <br />
    <label class="form-label" for="rating">Rating</label>
    <input class="form-control" type="text" name="rating" [(ngModel)]="editGame.rating" />
    <br />
    <label class="form-label" for="price">Price</label>
    <input class="form-control" type="text" name="price" [(ngModel)]="editGame.price" />
    <br />
    <label class="form-label" for="console">Console</label>
    <input class="form-control" type="text" name="console" [(ngModel)]="editGame.console" />
    <br />
    <label class="form-label" for="multiplayer">Multiplayer</label>
    <input class="form-control" type="text" name="multiplayer" [(ngModel)]="editGame.multiplayer" />
    <br />
    <button class="btn btn-danger" (click)="editGame = null">Cancel</button>
    <button class="btn btn-primary" (click)="updateGame(editGame)">Save</button>
  </form>
</div>
